* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Poppins", sans-serif;
}

html,
body {
  font-size: 62.5%;
  background: #f0f2f5;
  color: #1c1e21;
}

::-webkit-scrollbar {
  width: 9px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 11px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a,
button,
input {
  text-decoration: none;
  outline: none;
  background: none;
  border: none;

  font-family: "Poppins", sans-serif;
}

textarea {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}
