body {
  color: #1c1e21;
  color: rgb(24, 119, 242);
  color: #42b72a;
  color: #f02849;

  color: #1261c9;
  color: #2e9b18;

  color: #00a400;
  color: #f5f6f7;
  color: #ccd0d5;

  color: #088808;
  color: #646161;

  color: rgb(222, 232, 243);

  color: rgb(208, 231, 255);

color:  #65676B;
  color: #00b8b8;
  color: #00c763;
}

body{
  flex-direction:  
}
